*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 10px;
}

.container{
  width: 80%;
  margin: auto;

  text-align: center;
}

.row{
margin-bottom: 20px;
}

.box{
  position:relative;

  display: inline-block;

  cursor: pointer;
}

.discount{
  position:absolute;
  z-index: 1;
  top: 0;
  right: 0;

  background: green;
}

.box:nth-child(even) .discount{
  background: red;
}

.box .heart{
  position: absolute;
  bottom: 0;

  display: none;

  width: 100%;
  padding: 5px;

  text-align: center;

  color: red;
}

.box:hover .heart{
  display: block;
}
